$editor-row-hl-color: #81D4FA;
$editor-row-hl-text-color: #fff;
$editor-elem-hl-color: #2980b9;
$editor-elem-hl-text-color: #fff;
$edit-color: #2980b9;

.a-editor-table {
	width: 100%;
	border-collapse: collapse;
	font-size: 0.9em;
	color: $text-color-dark;
}

.a-editor-header {
	text-align: left;
	color: $text-color;
}

.a-editor-new {
	text-align: center;
	cursor: pointer;
}

.a-editor-new:hover {
	background: $success-background;
}

.a-editor-new > td {
	padding: 4px;
}

.a-editor-new i {
	color: $success-color;
}

.a-editor-id {
	color: #006064;
}

.a-editor-table > tbody tr:nth-child(even) {
	background: $stripe-background;
}

.a-editor-table td {
	border: 1px solid $divider-color;
}

.a-editor-row {
	// transition: 100ms all;
}

.a-editor-row:hover {
	background: $editor-row-hl-color !important;
	color: $editor-row-hl-text-color !important;
}

.a-editor-db-row td {
	padding: 4px;
}

.a-editor-time, .a-editor-arena {
	width: 15%;
}

.a-editor-teams, .a-editor-judges {
	width: 30%;
}

.a-editor-db-name, .a-editor-db-key {
	width: 40%;
}

.a-editor-db-school {
	width: 30%;
}

.a-editor-db-id, .a-editor-db-shadow {
	width: 10%;
}

.a-editor-db-actions {
	width: 10%;
	white-space: nowrap;
}

.a-editor-db-key-missing {
	color: $text-color-light;
}

.a-editor-multi-container {
	display: flex;
	align-items: center;
}

.a-editor-multi {
	flex: 1;
}

.a-editable {
	display: inline-block;
	width: 100%;
	padding: 4px;
	box-sizing: border-box;

	cursor: pointer;
}

.a-editable-highlight {
	background: $editor-elem-hl-color;
	color: $editor-elem-hl-text-color;
}

.a-editor-have-judgings {
	color: $success-color;
}

.a-editor-no-judgings {
	color: $danger-color;
}

.a-editor-active {
	background: #fff !important;
}

.a-editor-controls {
	border-top: 1px solid $divider-color;
}

.a-editor-submit {
	color: $success-color;
	background: transparent;
}

.a-editor-cancel, .a-editor-delete {
	color: $danger-color;
	background: transparent;
}

.a-editor-edit {
	color: $edit-color;
	background: transparent;
}

.a-editor-action {
	border: none;
	padding: 0 14px;
	cursor: pointer;
}

.a-editor-center {
	text-align: center;
}

.a-editor-loading {
	font-size: 1.5em;
	text-align: center;
}

.a-editor-loader-icon {
	animation: 1s infinite linear a-editor-load-spin-animation;
}

@keyframes a-editor-load-spin-animation {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}
