$container-max-size: 1000px;
$container-padding: 20px;

@media(min-width: $container-max-size + 2*$container-padding) {
	.container {
		max-width: $container-max-size;
		padding: $container-padding;
		margin-left: auto;
		margin-right: auto;
	}
}

.flex-stack-responsive {
	display: flex;
}

@media(max-width: $small-screen) {
	.flex-stack-responsive {
		flex-direction: column;
	}
}

.plain-input {
	-webkit-appearance: none;
	-moz-appearance: none;
}
