/** global */
$link-color: #ffa256;
$text-color: #666;
$text-color-light: lighten($text-color, 30%);
$text-color-dark: darken($text-color, 30%);
$divider-color: #e5e5e5;
$primary-action-color: #ec6b24;
$background: #fff;
$stripe-background: #f5f5f5;
$dark-background: #424242;
$dark-foreground: #fafafa;
$danger-color: #F44336;
$danger-background: #ffcfcf;
$small-screen: 480px;

/** xsumo */
$xsumo-color: #D33F27;
$xsumo-color-p1: #F44336;
$xsumo-color-mid: #CDDC39;
$xsumo-color-p2: #03A9F4;

/** rescue */
$rescue-color: #01579B;
$res-color-success1: #4CAF50;
$res-color-success2: #F9A825;
$res-color-fail: #F44336;

/** tanssi */
$dance-color: #F9A825;

/** haastattelut */
$haast-color: #9575CD;
