.j-scoring-info {
	margin-top: 20px;
	width: 100%;
}

.j-scoring-info tr {
	border-bottom: 1px solid $divider-color;
}

.j-scoring-info th {
	background: $dark-background;
	color: $dark-foreground;
}

.j-scoring-info td {
	vertical-align: top;
	padding: 2px;
	font-size: 0.9em;
}

.j-scoring-submit {
	width: 100%;
	margin: 20px 0;
}
