.r-res-rank {
	display: flex;
	align-items: center;
}

.r-rank-card-leader > .r-res-rank {
	font-size: 1.5em;
}

.r-res-rank > * {
	margin: 0 14px;
}

.r-res-rank-score {
	font-weight: bold;
}

.r-res-rank-time {
	opacity: 0.85;
}

.r-res-rank-retries {
	opacity: 0.75;
	font-size: 0.9em;
}
