{% extends "base.html" %}

{% block css %}
	{{ super() }}
	{{ fontawesome() }}
	{{ static_css("timetable.min.css") }}
{% endblock %}

{% block body_content %}
	<div class="container">

		{% if event_filter %}

			<div class="t-filter-info">
				<ul class="t-filter-list">

					{% if event_filter.team_names %}
						<li>
							Vain seuraavien joukkueiden suoritukset näytetään:
							<ul class="t-filter-item-list">
								{% for tname in event_filter.team_names %}
									<li>{{tname}}</li>
								{% endfor %}
							</ul>
						</li>
					{% endif %}

					{% if event_filter.intervals %}
						<li>
							Vain seuraavat aikavälit näytetään:
							<ul class="t-filter-item-list">
								{% for start,end in event_filter.intervals %}
									<li>{{start|localdate("%-d.%-m.%Y %H:%M")}}
										- {{end|localdate("%-d.%-m.%Y %H:%M")}}
									</li>
								{% endfor %}
							</ul>
						</li>
					{% endif %}

					{% if event_filter.block_ids %}
						<li>
							Vain seuraavat lohkot näytetään:
							<ul class="t-filter-item-list">
								{% for blkid in event_filter.block_ids %}
									<li>{{blkid}}</li>
								{% endfor %}
							</ul>
						</li>
					{% endif %}

					<li>
						<a class="t-filter-remove" href="{{url_for('.index')}}">
							[Poista hakuehdot]
						</a>
					</li>

				</ul>

			</div>

		{% endif %}

		<table class="t-timetable">
			{% for day, day_events in event_data|groupby("day_sched") %}
				<tr>
					<th colspan=999>
						{{day|localdate("%-d.%-m.%Y")}}
					</th>
				</tr>

				{% for ts, ts_events in day_events|groupby("ts_sched") %}
					{% for event in ts_events %}
						<tr class="t-timetable-row {%if loop.first%}t-timetable-row-first{%endif%}">
							{% if loop.first %}
								<td class="t-time">
									<i class="fas fa-clock"></i>
									{{ts|localdate("%H:%M")}}
								</td>
							{% else %}
								<td class="t-time"></td>
							{% endif %}
							<td class="t-event">
								{{render_event(event)|safe}}
							</td>
							<td class="t-location">{{event.arena}}</td>
						</tr>
					{% endfor %}
				{% endfor %}
			{% endfor %}
		</table>

	</div>
{% endblock %}

{# vim: set ft=htmldjango: #}
