{% import "ranking/util.html" as u %}

{% macro sc() %}
	<div class="r-xsumo-rank-score">
		{{score.score}}p
	</div>
{% endmacro %}

{% if score.played == 0 %}
	{% extends "ranking/ranking-card-unranked.html" %}
{% else %}
	{% extends "ranking/ranking-card.html" %}
{% endif %}

{% block score %}
	{% if rank == 1 %}
		{{ sc() }}
		<table class="r-rank-details-table">
			<tr>
				<td class="r-border-win">Voitot</td>
				<td class="r-border-tie">Tasapelit</td>
				<td class="r-border-lose">Häviöt</td>
				<td class="r-border-future">Pelaamatta</td>
			</tr>
			<tr>
				<td>{{score.wins}}</td>
				<td>{{score.ties}}</td>
				<td>{{score.losses}}</td>
				<td>{{score.unplayed}}</td>
			</tr>
		</table>
	{% else %}
		<div class="flex-stack-responsive r-xsumo-rank">
			{{ sc() }}
			<div class="r-xsumo-rank-details-compact">
				{{ u.bar_parts(
					(score.wins, "r-win"),
					(score.ties, "r-tie"),
					(score.losses, "r-lose"),
					(score.unplayed, "r-future")
				) }}
				<br/>
				<span class="r-text-win">{{score.wins}}</span> /
				<span class="r-text-tie">{{score.ties}}</span> /
				<span class="r-text-lose">{{score.losses}}</span> /
				<span class="r-text-future">{{score.unplayed}}</span>
			</div>
		</div>
	{% endif %}
{% endblock %}

{# vim: set ft=htmldjango: #}
