{% macro bar_parts() %}
	{% set total = varargs|sum(attribute=0) %}
	<div class="r-bar {{kwargs['class']|default('r-bar-default')}}">
		{% for n, c in varargs if n>0 %}
			<div class="r-bar-part {{c}}" style="width:{{100*n/total}}%">
			</div>
		{% endfor %}
	</div>
{% endmacro %}

{% macro bars_stacked() %}
	<div class="r-bar-stack {{kwargs['class']|default('')}}">
		{% for n, M, c in varargs %}
			<div class="r-bar {{kwargs['barclass']|default('r-bar-default')}} {{c}}"
				 style="width:{{100*n/M}}">
			</div>
		{% endfor %}
	</div>
{% endmacro %}

{# vim: set ft=htmldjango: #}
