{% from "util.html" import static_css, static_script, fontawesome %}

<!DOCTYPE html>
<html>
	<head>
		<title>
			{% block title %}
				RoboStat
			{% endblock %}
		</title>
		{% block meta %}
			<meta charset="utf-8" />
			<meta name="viewport" content="width=device-width, initial-scale=1" />
		{% endblock %}
		{% block css %}
			{{ static_css("main.min.css") }}
		{% endblock %}
	</head>

	<body>
		{% block body_content %} {% endblock %}
		{% block js %} {% endblock %}
	</body>
</html>

{# vim: set ft=htmldjango: #}
