{% extends "base.html" %}

{% block css %}
	{{ super() }}
	{{ static_css("login.min.css") }}
{% endblock %}

{% block title %}
	Tunnistautuminen - RoboStat
{% endblock %}

{% block body_content %}
	<form method="POST">
		<div class="login-container">
			<h3>Syötä tuomarointiavain</h3>
			<span class="text-meta">
				Sinun on kirjauduttava tuomarointiavaimella nähdäksesi tämä sivu.
			</span>

			{% if error %}
				<div class="message message-error login-message">
					<strong>Virhe:</strong> {{error}}
				</div>
			{% endif %}

			<input type="password" autocomplete="off" name="key" class="plain-input login-key"
																 autofocus />
			<input type="submit" value="Kirjaudu" class="action-button primary-button login-submit" />
		</div>
	</form>
{% endblock %}

{# vim: set ft=htmldjango: #}
